
.login-form {
	float: left;
	display: block;
	position: relative;
	width: 100%;
    color: #333333;
    min-height: 800px;
    text-align: center;
    padding-top: 40px;
}

.login-form .login-inner{
	display: block;
	width: 500px;
	max-width: 80%;
	background: white;
	border-radius: 5px;
	margin: 0 auto;
	padding: 20px 40px;
}

.login-form .login-inner .google-btn {
	background: #333;
	display: inline-block;
	color: white;
	padding: 6px 10px;
	border-radius: 4px;
	margin-top: 15px;
}

.login-form .login-inner .google {
	color: #fbbc05;
	padding-right: 10px;
	font-size: 20px
}


.login-form .login-inner .ou{
	margin: 40px;
	border-bottom: 1px dashed #999;
}

.login-form .login-inner .login-label{
	text-align: left;
	margin: 20px 0 0 0;
	font-size: 13px;
}

.login-form .login-inner .login-input{
	margin: 0;
}

.login-form .login-inner .forgot-pass{
	margin: 0;
	text-align: left;
	font-size: 13px;
	margin: 30px 0;
}

.login-form .login-inner .forgot-pass:hover{
	text-decoration: underline;
}


.login-form .login-inner .login-btn{
	margin: 0;
	font-size: 14px;
	margin-top: 10px;
	padding: 8px 12px;
	background: #333;
	border: none;
	position: relative;
	font-weight: bold;
	float: right;
	margin-top: -45px;
}

.login-form .login-inner .google-btn:hover, .login-form .login-inner .login-btn:hover {
	background: #444;
}


.login-form .no-account-label{
	margin-top: 40px;
	color: white;
}

.login-form .cadastre{
	color: white;
	background: transparent;
	padding: 8px 16px;
	border: 1px solid white;
	border-radius: 5px;
}

.login-form .cadastre:hover{
	background: #444444;
	text-decoration: none;
}
