
.main-area {
    float: left;
    display: block;
    width: 100%;
    min-height: 1200px;
    background: #222222;
    color: white;
    background: url('../../assets/images/road.jpg') no-repeat center top 100%;
    background-size: cover;
}