.footer{
    display: block;
    float: left;
    width: 100%;
    background: #1a1d26;
    color: white;
    font-size: 14px;
    min-height: 140px;
    padding: 20px;
    text-align: center;
}

.footer .home, .footer .sobre, .footer .proposta_, .footer .anuncie_, .footer .precos_ {
    color: white;
    padding: 0 20px;
    font-size: 14px;
}

.footer .email {
    color: white;
    font-size: 16px;
    display: block;
    padding-top: 30px;
}
