
@import url('https://fonts.googleapis.com/css?family=Jura:400,700');


html, body{
  padding: 0;
  margin: 0;
  background: #222222;
  font-family: 'Jura', sans-serif !important;
}

body .btn{
  padding: 0;
}

body .btn-link {
	font-weight: bold;
	color: white;
	background-color: transparent;
}